@font-face{
  font-family: 'Bubble';
  src: urL(font/CursedTimerUlil-Aznm.ttf)
}

body{
  margin: 0;
  background-color: #1B244A;
}

.container{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 10rem;
  font-size: 5rem;
  color: #EEEEEE;
}

h2{
  font-family: 'Bubble', Geneva, Tahoma, sans-serif;
  padding: 70px;
  color: #F94F6D;
  background-color: #000000;
  font-size: 10rem;
}


button{
  font-family: 'Bubble', Geneva, Tahoma, sans-serif;
  background-color: #1B244A;
  color: #9AABD8;
  font-size: 80pt;
  border-color: #9AABD8 ;
}


